.App{
  @apply min-h-screen;
}

/* CARD STYLES */
.card{
  @apply px-5 py-6 grid auto-rows-max gap-2 border border-gray-100
  md:gap-4 md:px-8 md:py-8
}

.card-head{
  @apply border-b border-gray-200 pb-4
}

.card-head__main{
  @apply font-semibold text-sm text-color-primary-dark
  md:text-lg
}

.card-head__sub{
  @apply font-medium text-gray-500 text-xs
  md:text-sm
}


/* TOP NAVIGATION */
.nav {
  @apply flex gap-4 items-center px-4 py-4 bg-white
  md:px-40;
}

.nav__logo{
  @apply h-5
  md:h-8;
}

/* APP BODY (CONTAINER CARDS) */
.body{
  @apply grid min-h-screen bg-gray-50 py-20 px-4
  sm:px-0;
}

/* CARD ( container for forms and receipts */
.card{
  @apply container mx-auto mt-8 mb-8 max-w-lg bg-white self-start rounded-md
  md:mt-9
  md:mb-9
}

.card-subheading{
  @apply mt-5
}

.card-subheading__main{
  @apply font-semibold text-sm text-color-primary-dark border-b border-gray-200 pb-4
  md:text-sm
}


/* CARD TAB */

.tab-container{
  @apply flex flex-col relative
}

.tab-container__buttons {
  @apply flex mb-5 mt-2;
}

.tab-button {
  @apply text-left bg-white w-3/6 pl-4 pb-3 cursor-pointer text-gray-400 box-content relative outline-none text-xs font-semibold
  md:text-sm
}

.tab-button:focus{
  @apply outline-none
}

.active-tab-button  {
  @apply bg-white text-color-primary pb-3 border-b-2 border-blue-600
}

.tab-container__content {
 @apply grid;
}

.tab-content {
  @apply grid bg-white w-full h-full hidden
}

.active-tab-content {
  @apply grid gap-y-2
}


/* FEE ROW */
.fee__line{
  @apply border-l-2 border-gray-300 h-3 mt-0 pt-0
}

.fee__item{
  @apply pl-3
}

.fee__unit{
  @apply text-xs font-bold inline-block w-24 text-gray-400
  md:text-sm
}

.fee__description{
  @apply text-xs font-normal text-gray-400
  md:text-sm
}

/* REVIEW  ROW */
.review-rows{
  @apply grid gap-y-1
}

.review-row{
  @apply flex justify-between py-1
}

.review-row__unit{
  @apply text-xs font-semibold inline-block w-24 text-gray-500 text-right
  md:text-sm inline-block w-max
}
.review-row__unit.emphasize{
  @apply text-gray-500 text-sm
  md:text-lg
}

.review-row__description{
  @apply text-xs font-normal text-gray-400
  md:text-sm
}


