.form{
  @apply px-5 py-6 
  grid auto-rows-max gap-2
  border
  border-gray-100

  md:gap-4
  md:px-8
  md:py-8
}

.form-head{
  @apply border-b border-gray-200 pb-4
}

.form-head__main{
  @apply font-semibold text-sm text-color-primary-dark
  md:text-lg
}

.rows{
  @apply grid gap-y-1
}

.row{
  @apply flex justify-between py-1
}

.row__unit{
  @apply text-xs font-semibold inline-block w-24 text-gray-500 text-right
  md:text-sm inline-block w-max
}
.row__unit.emphasize{
  @apply text-gray-500 text-sm
  md:text-lg
}

.row__description{
  @apply text-xs font-normal text-gray-400
  md:text-sm
}

.btn{
  @apply bg-green-600 hover:bg-green-500 mt-4
}